
@{
    ViewBag.Title = "Categorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{




}

<div class="container-fluid">

    <div class="card card-cyan card-outline">

        <div class="card-header">
            <h3 class="card-title">
                <i class="fab fa-wpforms"></i>
                Lista de Categorias
            </h3>

        </div>

        <div class="card-body">

            <div class="row align-items-end">
                <div class="col-sm-2 mt-1">
                    <button class="btn btn-sm btn-info btn-block" onclick="abrirModal('')"><i class="fas fa-plus-circle me-2"></i> Agregar Nuevo</button>
                </div>
                <div class="col-sm-2 mt-1">
                    <button class="btn btn-sm btn-success btn-block"><i class="fas fa-file-excel me-2"></i>  Importar</button>
                </div>
            </div>

            <hr />

            <div class="row mt-3">
                <div class="col-sm-12">
                    <div>
                        <table id="tbcategoria" class="table table-striped table-bordered nowrap compact">
                            <thead>
                                <tr>
                                    <th>Descripción</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>

        <div class="card-footer">

        </div>

    </div>

</div>

<div id="categoriaModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-info">

            <div class="modal-header">

                <h5 class="modal-title">
                </h5>

                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <div class="modal-body">

                <input id="txtidCat" type="hidden" />

                <form id="CatForm">
                    <div class="form-group">
                        <label class="form-label">Descripción :</label>
                        <input type="text" class="form-control form-control-sm" name="descripcion" id="txtdescCategoria" />
                    </div>

                    <div class="form-group">
                        <label class="form-label">Estado :</label>
                        <select id="cboactivo" class="form-select form-select-sm">
                            <option value="1">Activo</option>
                            <option value="0">No Activo</option>
                        </select>
                    </div>
                </form>

                <div id="messageError" class="alert alert-danger" role="alert">

                </div>

            </div>

            <div class="modal-footer justify-content-between bg-white">
                <button type="button" class="btn btn-outline-danger btn-sm" data-bs-dismiss="modal"><i class="fas fa-arrow-circle-left me-1"></i>  Cerrar</button>
                <button type="button" class="btn btn-outline-info btn-sm" onclick="guardar()">Guardar  <i class="fas fa-save ms-1"></i></button>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script>
        var dtCategoria;
        var filaSeleccionada;

        $(function () {

            $.LoadingOverlay("hide");

            Title("Categorías");
       
            dtCategoria = GetDataTable({
                TableId: '#tbcategoria',
                Url: '@Url.Action("ListarCategorias", "Almacen")',
                Columns: [
                    { "data": "Descripcion" }
                ].concat(AED)
            });

        });

        $('#CatForm').validate({
            rules: {
                descripcion: pValid([3,30])
            },
            messages: {
                descripcion: "- El campo descripción es obligatorio"
            },
            errorElement: "div",
            errorLabelContainer: ".alert-danger"
        });

        const abrirModal = ({ IdCategoria, Descripcion, Activo }) => {

            limpiarModal();

            $('#messageError').hide();

            if (IdCategoria != null) {

                ModalTitle({
                    Fontawesome: 'fas fa-bookmark',
                    Title: ' Editar Categoría'
                });

                $('#txtidCat').val(IdCategoria);
                $('#txtdescCategoria').val(Descripcion);
                $('#cboactivo').val(Activo == true ? 1 : 0);
            } else {

                ModalTitle({
                    Fontawesome: 'fas fa-bookmark',
                    Title: ' Nuava Categoría'
                });
            }

            $('#categoriaModal').modal('show');
        }

        const limpiarModal = () => {

            $('.modal-title').html('');
            $('#txtidCat').val(0);
            $('#txtdescCategoria').val("");
            $('#cboactivo').val(1);

        }

        $('#tbcategoria tbody').on('click', '.btn-editar', function () {

            let { row, data } = GetRow({
                table: dtCategoria,
                ctx: this
            });

            filaSeleccionada = row;

            abrirModal(data);
        });

        $('#tbcategoria tbody').on('click', '.btn-eliminar', function () {

            let { data, row } = GetRow({
                table: dtCategoria,
                ctx: this
            });

            let { IdCategoria, Descripcion } = data;

            SwalDelete({
                Title: `¿Esta seguro(a) que desea eliminar la Categoría "${Descripcion}" ?`,
                then: (result) => {

                    if (result.isConfirmed) {

                        AjaxPost({
                            url: '@Url.Action("EliminarCategoria", "Almacen")',
                            obj: { id: IdCategoria },
                            success: (data) => {

                                if (data.resultado) {
                                    dtCategoria.row(row).remove().draw();
                                    MsgToast(`La Categoría "${Descripcion}" ha sido eliminada correctamente.`);
                                } else {
                                    MsgError();
                                    console.log(data.mensaje);
                                }
                            }
                        });
                   }
                }
            });


        });

        const guardar = () => {

            if (!$('#CatForm').valid()) return;

            var Categoria = {
                IdCategoria: $('#txtidCat').val(),
                Descripcion: $('#txtdescCategoria').val(),
                Activo: $('#cboactivo').val() == 1 ? true : false,
            };

             AjaxPost({
                url: '@Url.Action("GuardarCategoria", "Almacen")',
                tloading: '.modal-body',
                obj: Categoria,
                success: (data) => {

                    if (Categoria.IdCategoria == 0) {
                        if (data.resultado != 0) {
                            Categoria.IdCategoria = data.resultado;
                            dtCategoria.row.add(Categoria).draw(false);
                            $('#categoriaModal').modal('hide');
                            MsgSaveSuccess();
                        } else {
                            MsgError();
                            console.log(data.mensaje);
                        }
                    } else {
                        if (data.resultado) {
                            dtCategoria.row(filaSeleccionada).data(Categoria).draw(false);
                            filaSeleccionada = null;
                            $('#categoriaModal').modal('hide');
                            MsgEditSuccess();
                        } else {
                            MsgError();
                            console.log(data.mensaje);
                        }
                    }

                }
            });

        };

        ShowLoading();


    </script>

}


